use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).
config :tokyoex_handson_demo, TokyoexHandsonDemo.Endpoint,
  secret_key_base: "6r4BSSDhVZ1kFLbxsc4d99VP4upzZtMoX+1qogGmv1HcRcz11VLcOdesJVBZOHa6"

# Configure your database
config :tokyoex_handson_demo, TokyoexHandsonDemo.Repo,
  adapter: Ecto.Adapters.MySQL,
  username: "root",
  password: "",
  database: "tokyoex_handson_demo_prod",
  pool_size: 20
